# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# Fichier à ne montrer pas dans mettre en prod temporaire

src/pages/solution.astro
src/components/svelte/ChatClient.svelte


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
